<p id="notice"><%= notice %></p>

<p class="postTitle">
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p class="postContent">
  <strong>Content:</strong>
  <%= @post.content %>
</p>


<button class="js-next" data-id="<%= @post.id %>">Next ---></button>
<a href="#" class="js-next" data-id="<%=@post.id%>">Next</a>
<!-- <p>
  <%#= link_to "Load Comments", post_comments_path(@post), :class => "load_comments", :remote => true %>
</p> -->

<div class="comments">
  <h2>Comments:</h2>
  <ul id="comments">
    <% @post.comments.each do |comment|%>
      <li id="comment-<%=comment.id%>">
      <%= comment.content%>
      <button class="delete-comment" data="<%=comment.id%>">Delete</button>
      </li>
    <% end %>
  </ul>

<%= form_for @comment do |f| %>
  <label>Add a comment:</label>
  <%= f.text_field :content %>
  <span id= "post-field">
    <%= f.hidden_field :post_id, value: @post.id %>
  </span>
  <%= f.submit "Submit", id: "submit"%>
  <% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
